# Ignore the following files and folders

# Ignore all the IDE files in any folder
**/.idea
**/*.iml
**/*.vscode

# Ignore temp files like logs, and backups
**/*.log
**/*.bkp
**/*.tmp
**/*.dtmp
**/*.temp
**/*.cache
**/*.swp

# Ignore MAC OS files
**/.DS_Store